# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ml_model/.venv/
.env

# Firebase
serviceAccountKey.json
.firebase/
*-debug.log

# Node.js
node_modules/
package-lock.json
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db
